# requirements.txt - REVISED FOR DEPLOYMENT

Flask
Flask-Cors
gunicorn
gevent
geopandas
pandas
rasterio
numpy
Pillow
mercantile
requests
scikit-image
python-dotenv
shapely
mapbox-vector-tile
matplotlib
pvlib
pytz
pysheds
pyproj


